@charset "utf-8";

/* CSS Document */
html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url('../bilder/1.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
	z-index: 2;
	position: relative;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
	  
}

nav{
	backround: black;
	top: 0px;
	position: fixed;
	z-index: 99999;
}